<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">
  <head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">-->
    <!--<link href="https://unpkg.com/@primer/css@^16.0.0/dist/primer.css" rel="stylesheet" />-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.0.0/github-markdown-light.css" rel="stylesheet" />
    
  </head>
  <body>
      <article class="markdown-body">
      {{ content }}
      </article>
  </body>
</html>
